/*.partyguruinfobox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(227, 0, 248);
}*/

/*The banner to display what Party Guru is (repeated just in case!)*/
.partyguruinfobox {
    color: white;
    background: #8f00e2;
}

/*CSS for headers inside partyguruinfobox*/
.partyguruinfobox h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS for <p></p> (paragraph) elements*/
.partyguruinfobox p{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Creates a grid to display the schedule for the party
    Schedule displays things that are meant to be done 
    at the party like "Brithday Cheer", "Eat cake", 
    "Play Minecraft"*/
.schedulebox {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    background-color: orange;
    grid-gap: 10px;
    /*padding: 10px;*/
}

.schedulecomponent {
    border: 3px solid black;
}

.infoGrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.partyheroinfo {
    background-color:#8f00e2;
    color: white;
    margin-right:5%;
    padding: 0px 10px 0px 10px;
    margin-top: 1rem;
}

.checkboxarea{
    background-color: grey;
    margin: 5%;
    padding: 0px 0px 10px 10px;
    height: fit-content;
    width: fit-content;
}

/*The following is custom CSS for custom checkboxes. If you're unsure what this is, then go look at
    at this tutorial
    https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
    There you can learn to change this custom checkbox CSS :)
    */

.checkboxtitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 6px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color:#ccc;
}

/*Changes color when hovering*/
.container:hover input ~ .checkmark {
    background-color: grey;
}

/*Changes checkmark color*/
.container input:checked ~ .checkmark {
    background-color: green;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.invitetopartylink {
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    background: orange;

}

p {
    font-family: "Helvetica", "Arial";
}

.test {
    margin-top: 10px;
    margin-bottom: 10px;
}