.guruGrid{
    display:grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: center;
    grid-template-rows: auto;
    grid-gap:3px;
    grid-template-areas:
    "gImage info"
    "pPackages video"
    "calendar availability"
    "upcomingParties upcomingParties";
}

.mainContainer{
    padding:1rem;
    margin:1rem;
}

@media (max-width: 600px) {
    .guruGrid { grid-template-columns: repeat(1, 320px);
        grid-template-areas:
        "gImage"
        "info"
        "pPackages"
        "video"
        "calendar"
        "availability"
        "upcomingParties"
        "upcomingParties";
    }


}


.upcomingParties {
    grid-area:upcomingParties;
}

.profilePic {
    width:300px;
    height:300px;
    border-style: groove;
    border-color: orange;
    align-self:center;
    margin-right:10px;
    margin-left:10px;
}

@media (max-width: 600px) {
    .profilePic {
        width: 250px;
        height: 250px;
    }
}


.guruGrid > div{
    border-style: groove;
    border-color: orange;
    display:flex;
    background:#FAF0E6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
    gap:10px;
}

.guruGrid > div.calendar{
    background:white;
}


.guruGrid > div.infoEdit{

    justify-content: flex-start;
    align-items: stretch;
}

.guruFlexDiv {
    justify-content: center;
    display:flex;
    flex-direction: column;
    border-style:groove;
    border-color: orange;
    padding: 10px;

}


.flexAlignThis {
    align-self:center;
}





