.guruGrid{
    display:grid;
    grid-template-columns: 25% 25%;
    grid-column-gap: 0.5em;
    grid-row-gap:0.5em;
    justify-content: center;

}




.guruGrid > div{
    display:flex;
    flex-direction: column;
    background: #eee;
    justify-content: center;
    align-items: center;
    padding:1em;
    gap:10px;
}

.guruGrid > div.info{

    justify-content: flex-start;
    align-items: flex-start;



}




.guruGrid > div.infoEdit{

    justify-content: flex-start;
    align-items: stretch;


}



.flexAlignThis {
    align-self:flex-start;
}



button {
    background: orange;

}

p {
    font-family: "Helvetica", "Arial";}

.submit {



}