.guruGrid{
    display:grid;
    grid-template-columns: repeat(2, 430px);
    justify-content: center;
    grid-template-rows: auto;
    grid-template-areas:
    "gImage info"
    "pPackages video"
    "calendar availability"
    "upcomingParties upcomingParties";
}

.mainContainer{
    padding:1rem;
    margin:1rem;
}

@media (max-width: 600px) {
    .guruGrid { grid-template-columns: repeat(1, 320px);
        grid-template-areas:
        "gImage"
        "info"
        "pPackages"
        "video"
        "calendar"
        "availability"
        "upcomingParties"
        "upcomingParties";
    }


}


.upcomingParties {
    grid-area:upcomingParties;
}

.profilePic {
    width:80%;
    height: 80%;
    max-height: 300px;
    border-style:solid;
    align-self:center;

}



.guruGrid > div{
    border-style: groove;
    border-color: orange;
    display:flex;
    background:#FAF0E6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
    gap:10px;
}




.guruGrid > div.infoEdit{

    justify-content: flex-start;
    align-items: stretch;
}

.buttonGrid {
    justify-content: center;
    display:flex;
    flex-direction: column;
    border-style:groove;
    border-color: orange;
    padding: 10px;

}


.flexAlignThis {
    align-self:center;
}





