.guruGrid{
    display:grid;
    grid-template-columns: repeat(2, minmax(240px, 400px));

    justify-content: center;

}

.profilePic {
    width:80%;
    height: 80%;
    max-height: 300px;
    border-style:solid;
    align-self:center;

}



.guruGrid > div{
    border-style: double;
    display:flex;
    flex-direction: column;
    background: #D3D3D3;
    justify-content: center;
    align-items: center;
    padding:1em;
    gap:10px;
}

.guruGrid > div.info{

    justify-content: flex-start;
    align-items: flex-start;



}


.guruGrid > div.infoEdit{

    justify-content: flex-start;
    align-items: stretch;


}

.buttonGrid {
    display:flex;
    flex-direction: column;



}


.flexAlignThis {
    align-self:flex-start;
}





p {
    font-family: "Helvetica", "Arial";}

.submit {



}