.mainheader{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
}

.emaildescription {
    /*
    width: 90%;
    font-size: 90px;
    */
    

}

.test {
    font-size: 90px;
}

.preview{
    text-align: center;
    
}

.invitelayout{
    text-align: center;
    position:relative;
}

.subtitle{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 180%;
    text-align: center;
    padding-left: 800px;
    padding-right: 820px;
}

.invitetitle{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120%;
    text-align: center;
    padding-left: 750px;
    padding-right: 70px;
}
