.mainheader{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
}

.emaildescription {
    /*
    width: 90%;
    font-size: 90px;
    */

}

.test {
    font-size: 90px;
}