.mainheader{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
}

.emaildescription {
    /*
    width: 90%;
    font-size: 90px;
    */
    

}

.test {
    font-size: 90px;
}

.preview{
    text-align: center;
    
}

.invitelayout{
    text-align: center;
    position:relative;
    justify-content: center;
    border-style: solid;
    border-color: green;
    border-width: thick;
}

.subtitle{
    top: 35%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 10%;
    margin-left: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border-style: solid;
    border-color: blue;
    border-width: thick;
    padding-left: 10%;
    padding-right: 10%;

}

.invitetitle{
    
    top: 0;
    position: absolute;
    margin-left: 39%;
    margin-top: 11%;
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: top;
    text-align: top;
   
    border-style: solid;
    border-color: red;
    border-width: thick;
}
