/*eli piste rivin ekana merkkinä meinaa, että classname="nimi", jos rivi alkaa ".nimi" ilman quoteja*/

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh; /*eikö 100vh ole vain 100% viewportin korkeudesta?*/
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
/*grid template*/
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/*
footer tagin sisälmykset
Violetti on kaivettu sog.gg
*/
footer {
  grid-area: footer;
  background-color: #8f00e2;
  margin-top: 5px;
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

/*hiiri linkin päällä*/
a:hover {
  color: #8f00e2;
}

/*koko lista*/
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*listan yksi elementti*/
li {
  margin-top: 1rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}

button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
}

/* Header */
/*linkki headerin sisällä*/
header a {
  color: #ffffff;
  padding: 1rem;
}

/*tätä voi käyttää jos pitää breikata rivi forcella <div className="break"></div>*/
.break {
  flex-basis: 100%;
  height: 2;
  padding-top: 10px;
}

/*mutta helpoin tapa saada rivit erikseen on kai laittaa samalle riville menevät <div className="row"></div> tägin sisään*/
/*className="row"*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*className="row center"*/
.row.center {
  justify-content: center;
}
.row.right{
justify-content: right;}
/*className="row top"*/
.row.top {
  align-items: flex-start;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  width: 100%;
  max-height: 20rem;
  min-height: 20rem;
}

img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.3rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  min-height: 380px;
  min-width: 220px;
  position:relative;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
  position:relative;
}
.price {
  font-size: 2rem;
  position:absolute;
  bottom:0;
  background-color: #f0c040;
  text-align: center;
  width: 90%;
  border-style: dotted;
  border-width: 1px;
}

.footer-text{
  text-align: center;
  color: #ffffff;
}