.guruGrid{
    display:grid;
    grid-template-columns: 30% 30%;
    grid-gap:1em;
    justify-content:center;
}

.guruGrid > div{
    background: #eee;
    padding:1em;
}

.guruGrid > div:nth-child(odd) {
    background: #ddd;

}